.btm-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.btm-nav-body {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 786px) {
  .btm-nav {
    display: none;
  }
}