.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-body {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 786px) {
  .footer {
    display: none;
  }
}